.location-container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  > .c-item {
    width: 100%;
    max-width: 90%;
    justify-self: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}
